<script lang="ts" setup>
import { ref } from "vue";

const title = ref("Smile");

function color(face: string) {
  if (face == "angry") {
    img.value = "/feeling_imgs/angry.png";
    title.value = "Angry";
    col1.value = "yellow";
    col2.value = "";
    col3.value = "";
    col4.value = "";
    col5.value = "";
    col6.value = "";
  } else if (face == "cute") {
    img.value = "/feeling_imgs/cute.png";
    title.value = "Cute";
    col1.value = "";
    col2.value = "yellow";
    col3.value = "";
    col4.value = "";
    col5.value = "";
    col6.value = "";
  } else if (face == "excited") {
    img.value = "/feeling_imgs/excited.png";
    title.value = "Excited";
    col1.value = "";
    col2.value = "";
    col3.value = "yellow";
    col4.value = "";
    col5.value = "";
    col6.value = "";
  } else if (face == "pain") {
    img.value = "/feeling_imgs/pain.png";
    title.value = "Pain";
    col1.value = "";
    col2.value = "";
    col3.value = "";
    col4.value = "yellow";
    col5.value = "";
    col6.value = "";
  } else if (face == "shocked") {
    img.value = "/feeling_imgs/shocked.png";
    title.value = "Shocked";
    col1.value = "";
    col2.value = "";
    col3.value = "";
    col4.value = "";
    col5.value = "yellow";
    col6.value = "";
  } else if (face == "smile") {
    img.value = "/feeling_imgs/smile.png";
    title.value = "Smile";
    col1.value = "";
    col2.value = "";
    col3.value = "";
    col4.value = "";
    col5.value = "";
    col6.value = "yellow";
  }
}

let img = ref("/feeling_imgs/smile.png");
let col1 = ref("");
let col2 = ref("");
let col3 = ref("");
let col4 = ref("");
let col5 = ref("");
let col6 = ref("yellow");
</script>
<template>
  <v-table>
    <tr>
      <td rowspan="7">
        <v-container><v-img :src="img"></v-img></v-container>
      </td>
      <td></td>
      <td>{{ title }}</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <v-btn
          :color="col1"
          :width="300"
          :elevation="5"
          v-on:click="color('angry')"
          >ANGRY</v-btn
        >
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <v-btn
          :color="col2"
          :width="300"
          :elevation="5"
          v-on:click="color('cute')"
          >CUTE</v-btn
        >
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <v-btn
          :color="col3"
          :width="300"
          :elevation="5"
          v-on:click="color('excited')"
          >EXCITED</v-btn
        >
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <v-btn
          :color="col4"
          :width="300"
          :elevation="5"
          v-on:click="color('pain')"
          >PAIN</v-btn
        >
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <v-btn
          :color="col5"
          :width="300"
          :elevation="5"
          v-on:click="color('shocked')"
          >SHOCKED</v-btn
        >
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <v-btn
          :color="col6"
          :width="300"
          :elevation="5"
          v-on:click="color('smile')"
          >SMILE</v-btn
        >
      </td>
    </tr>
  </v-table>
</template>
