<script setup lang="ts">
import { useNumberStore } from "@/stores/number";

const numStore = useNumberStore();
const addNum = (index: number): void => {
  numStore.increse(index);
};
</script>
<template>
  <div>First Component</div>
  <div v-for="item of numStore.nums" :key="item.id">{{ item.num }}</div>
  <div v-for="item of numStore.nums" :key="item.id">
    <v-btn @click="addNum(item.id)">Increment</v-btn>
  </div>
</template>
